<section class="flex" style="margin-left: 7dvw">
  <div class="">
    <div class="dashboard">Dashboard</div>

    <div class="flex upper-div">
      <div class="flex" style="margin-left: 25px">
        <app-gradient-circle-chart
          [activePercentage]="activePercentage"
          [inActivePercentage]="inActivePercentage"
          [labels1]="['Active Percentage']"
        ></app-gradient-circle-chart>
        <div id="" class="chart-container4">
          <app-scatter-chart></app-scatter-chart>
        </div>
        <div class="card-list">
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-8">
                <h2>Total Card Issued</h2>
              </div>
              <div class="col-4">
                <div class="row">
                  <h2 style="color: #5d8ac4">88</h2>
                </div>
                <div class="row rounded-card">+20%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-container">
      <div id="chart1" class="chart-container1">
        <app-mixed-chart
          [months]="months"
          [workStatus]="workStatus"
        ></app-mixed-chart>
      </div>

      <div id="chart4" class="chart-container3">
        <app-stacked-area-chart></app-stacked-area-chart>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="header">
      <h2>Leaderboard</h2>
      <hr />
    </div>
    <div class="leaderboard-cards">
      <div class="card-infos">
        <img src="../../../assets/people.png" height="50px" width="50px" />
        <div class="employee-info">
          <h3>Mehedi Hasan</h3>
          <p>LOD</p>
        </div>
      </div>
      <div class="card-infos">
        <img src="../../../assets/people.png" height="50px" width="50px" />
        <div class="employee-info">
          <h3>Azizul Haque</h3>
          <p>LOD</p>
        </div>
      </div>
      <div class="card-infos">
        <img src="../../../assets/people.png" height="50px" width="50px" />
        <div class="employee-info">
          <h3>Hridoy Khan</h3>
          <p>IT</p>
        </div>
      </div>
      <div class="card-infos">
        <img src="../../../assets/people.png" height="50px" width="50px" />
        <div class="employee-info">
          <h3>Bappy Rahman</h3>
          <p>Management</p>
        </div>
      </div>
    </div>
  </div>
</section>
