.form-container {
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    margin: 5dvh 2dvw 0 2dvw;
    width: 40dvw;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    width: 90dvw;
    /* background-color: #f9f7f7; */
  }
  
  #form {
    background: #FFF url('../../../assets/loginBackground.png') no-repeat;
    
    background-size: 120% 120%;
    background-position: center; /* Adjust these values as needed */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3dvh;
  }
  
  h3 {
    /* margin-bottom: -1dvh;  */
    text-align: center; 
    color: #40A9FF ; 
    font-size: large;
    font-weight: 400;
  }
  
  input {
    background-color: #b5d6ec;
    width: 70%;
    padding: 10px 20px 10px 10px; /* Increased right padding for the 'x' */
    margin: -2dvh 1dvw 0  10dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Needed for positioning the pseudo-element */
   
  }
  
  .field {
    display: flex;
    align-items: center;
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #40A9FF;
    color: #fff;
    cursor: pointer;
    top: -3dvh;
    left: 36dvw;
    position: relative;
  }
  
  button:hover {
    background-color: #7596a8;
  }
  
  button:focus {
    background-color: #7596a8;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #157ac6;
  }
  
  #file {
    top: 0;
    position: inherit;
    width: 50dvw;
    height: 90dvh;
    background-color: #F7FAFC;
  }
  #pdf-btn {
    /* margin-top: -2dvh; */
    /* margin-top: -4dvh; */
    margin-bottom: 2dvh;
    text-align: center;
  }