<section>
  <div class="main">
    <div class="upper-part">
      <div class="chart1">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="chart2">
        <app-stacked-bar-chart></app-stacked-bar-chart>
      </div>
      <div class="card-list">
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-8">
              <h2>Total Card Issued</h2>
            </div>
            <div class="col-4">
              <div class="row">
                <h2 style="color: #5d8ac4">88</h2>
              </div>
              <div class="row rounded-card">+20%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-part">
      <div class="chart3">
        <app-scatter-chart></app-scatter-chart>
      </div>
      <div class="chart4">
        <app-mixed-chart></app-mixed-chart>
      </div>
    </div>
  </div>
</section>
