<div class="container">
    <div *ngIf="loading; else content" class="loading-indicator">
      <app-loader></app-loader>
    </div>
    <ng-template #content>
      <div class="left-side">
        <!-- Angular component 1 -->
        <app-read-write-form 
  
        
          [controlNames]="controlNames"
          [array_number]="array_number"
          [uuid] = "uuid"
          [controlNameValue] = "controlNameValue"
          [customer_field_details] = "customer_field_details"
          [fields] = "fields"
          [work_order_id] = "work_order_id"
          [assigned_to] = "assigned_to"
          >
  
          
        </app-read-write-form >
      </div>
      <div class="yellow-side">
        <!-- Angular component 2 -->
        <app-image-loader
          [image_array] = "image_array"
        >
  
        </app-image-loader>
      </div>
    </ng-template>
  </div>
  
  
