<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form *nzDrawerContent [formGroup]="addNewDept" (ngSubmit)="onAddDepartment()">
            <div>
              <!-- <label><h3>Name:</h3> </label> -->
                <input type="text" formControlName="name" placeholder="Enter the name of new department...">
            </div>
           <div>
            <!-- <label><h3>Description:</h3> </label> -->
            <textarea type="text" formControlName="description" placeholder="Write the job description of this department..."> </textarea>
           </div>
   </form>

   <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" [disabled]="!addNewDept.valid" type = "submit"(click)="create();onAddDepartment()">Create</button>
    </div>
  </ng-template>
</nz-drawer>

